.Guides__dashboard {
  width: 100%;
  height: 100vh;
  padding-left: 320px;
  display: flex;
  align-items: start;
  justify-content: start;
}
.Guides {
  width: calc(100%);
  height: 100%;
}
.Guides__header {
  width: 100%;
  height: 70px;
  background: #adcbe3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
}
.Guides__header__title {
  color: #2a4d69;
  letter-spacing: -1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
}

/* STYLE */

.Guides__header__option {
  /* border: 1px solid red; */
  padding: 10px 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Guides__header__create {
  width: 150px;
  height: 40px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  background: #457fae50;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  transition: 0.3s ease-in-out;
}
.Guides__header__create:hover {
  background: #457fae;
  cursor: pointer;
}
.Guides__filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 18px 35px;
}
.filters__select {
  height: 40px;
  margin: 0 20px;
  padding: 0 25px;
  outline: none;
  border-radius: 8px;
  border: none;
  background: #b3cde09d;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  border: 0.5px solid #b3cde0ea;
  box-shadow: #3c404323 0px 1px 2px 0px, #3c404310 0px 1px 3px 1px;
}
.filters__input {
  width: 350px;
  height: 40px;
  margin: 0 20px;
  border: none;
  background: #b3cde09d;
  border-radius: 8px;
  outline: none;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 500;
  border: 0.5px solid #b3cde0ea;
  box-shadow: #3c404323 0px 1px 2px 0px, #3c404310 0px 1px 3px 1px;
}
