.Notification__Dashboard {
  width: 100%;
  height: 100vh;
  padding-left: 320px;
  display: flex;
  align-items: start;
  justify-content: start;
}
.Notification {
  width: calc(100%);
  height: 100%;
}
.Notification__header {
  width: 100%;
  height: 70px;
  background: #adcbe3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
}
.Notification__header__title {
  color: #2a4d69;
  letter-spacing: -1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
}
.Notifications {
  width: 100%;
  min-height: 600px;
  padding: 10px 35px;
}

.Notification__filters__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  line-height: 0;
  letter-spacing: -1px;
  padding-left: 35px;
}
.Notification__filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 18px 35px;
}
.filters__select {
  height: 40px;
  margin: 0 20px;
  padding: 0 25px;
  outline: none;
  border-radius: 8px;
  border: none;
  background: #b3cde09d;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  border: 0.5px solid #b3cde0ea;
  box-shadow: #3c404323 0px 1px 2px 0px, #3c404310 0px 1px 3px 1px;
}
.filters__input {
  width: 350px;
  height: 40px;
  margin: 0 20px;
  border: none;
  background: #b3cde09d;
  border-radius: 8px;
  outline: none;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 500;
  border: 0.5px solid #b3cde0ea;
  box-shadow: #3c404323 0px 1px 2px 0px, #3c404310 0px 1px 3px 1px;
}
.reset_filters {
  width: 200px;
  height: 40px;
  border: none;
  background: #134c759d;
  border-radius: 8px;
  outline: none;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  border: 0.5px solid #b3cde0ea;
  box-shadow: #3c404323 0px 1px 2px 0px, #3c404310 0px 1px 3px 1px;
}
