.Users__dashboard {
  width: 100%;
  height: 100vh;
  padding-left: 320px;
  display: flex;
  align-items: start;
  justify-content: start;
}
.Users {
  width: calc(100%);
  height: 100%;
}
.Users__header {
  width: 100%;
  height: 70px;
  background: #adcbe3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
}
.Users__header__title {
  color: #2a4d69;
  letter-spacing: -1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
}
.Users__header__title span {
  font-family: "Jet Brains Mono";
  font-size: 18px;
  margin-left: 10px;
}
.AddUser__header__option {
  padding: 10px 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AddUser__header__btn {
  width: 150px;
  height: 40px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  background: #457fae50;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  transition: 0.3s ease-in-out;
}
.AddUser__header__btn:hover {
  background: #457fae;
  cursor: pointer;
}

.Users__options {
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
}
.Users__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 650px;
}
.Users__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: 50px;
  border: 0.7px solid #11100050;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
  margin: 4px 0;
}
.Users__row:first-child {
  margin-bottom: 20px;
  height: 70px;
}

.Users__text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}
.Users__firstname {
  width: 20%;
  text-transform: capitalize;
}
.Users__lastname {
  width: 20%;
  text-transform: capitalize;
}
.Users__role {
  width: 12%;
}
.Users__age {
  width: 8%;
}
.Users__username {
  width: 20%;
}
.Users__option {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5px 10px;
}
.Users__icons {
  font-size: 28px;
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
.Users__view {
  color: #8a2be2;
}
.Users__edit {
  color: #008744;
}
.Users__delete {
  color: #d62d20;
}
.Users__icons:hover {
  opacity: 1;
}
.disable_filtersBtn {
  opacity: 0.4;
}
.Table__users {
  width: 100%;
  padding: 10px 35px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
}
td,
th {
  padding: 15px 10px;
  text-align: center;
}
th {
  background-color: #ba68c8;
  color: #fafafa;
  font-family: "Open Sans", Sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}
tr {
  width: 100%;
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
}
tr:nth-child(even) {
  background-color: #dcd9d9;
}
